In [1]:
import pandas as pd

/Users/oshima/.local/share/virtualenvs/football-data-analysis-EtsPdb68/lib/python3.8/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_csv(
    '../data/players_20.csv'
)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18278 entries, 0 to 18277
Columns: 104 entries, sofifa_id to rb
dtypes: float64(16), int64(45), object(43)
memory usage: 14.5+ MB

In [4]:
df

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [5]:
df.shape

(18278, 104)

In [6]:
df.describe()

,sofifa_id,age,height_cm,weight_kg,overall,potential,value_eur,wage_eur,international_reputation,weak_foot,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
count,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,1.827800e+04,18278.000000,18278.000000,18278.000000,...,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000
mean,219738.864482,25.283291,181.362184,75.276343,66.244994,71.546887,2.484038e+06,9456.942773,1.103184,2.944250,...,48.383357,58.528778,46.848889,47.640333,45.606631,16.572765,16.354853,16.212934,16.368038,16.709924
std,27960.200461,4.656964,6.756961,7.047744,6.949953,6.139669,5.585481e+06,21351.714095,0.378861,0.664656,...,15.708099,11.880840,20.091287,21.585641,21.217734,17.738069,16.996925,16.613665,17.136497,18.038125
min,768.000000,16.000000,156.000000,50.000000,48.000000,49.000000,0.000000e+00,0.000000,1.000000,1.000000,...,7.000000,12.000000,1.000000,5.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,204445.500000,22.000000,177.000000,70.000000,62.000000,67.000000,3.250000e+05,1000.000000,1.000000,3.000000,...,39.000000,51.000000,29.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,226165.000000,25.000000,181.000000,75.000000,66.000000,71.000000,7.000000e+05,3000.000000,1.000000,3.000000,...,49.000000,60.000000,52.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,240795.750000,29.000000,186.000000,80.000000,71.000000,75.000000,2.100000e+06,8000.000000,1.000000,3.000000,...,60.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,252905.000000,42.000000,205.000000,110.000000,94.000000,95.000000,1.055000e+08,565000.000000,5.000000,5.000000,...,92.000000,96.000000,94.000000,92.000000,90.000000,90.000000,92.000000,93.000000,91.000000,92.000000

In [7]:
df.columns

Index(['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob',
       'height_cm', 'weight_kg', 'nationality', 'club',
       ...
       'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb'],
      dtype='object', length=104)

In [8]:
[column for in list(df.columns)]

SyntaxError: invalid syntax (<ipython-input-8-aa86bfc64692>, line 1)

In [9]:
[column for column in list(df.columns)]

['sofifa_id',
 'player_url',
 'short_name',
 'long_name',
 'age',
 'dob',
 'height_cm',
 'weight_kg',
 'nationality',
 'club',
 'overall',
 'potential',
 'value_eur',
 'wage_eur',
 'player_positions',
 'preferred_foot',
 'international_reputation',
 'weak_foot',
 'skill_moves',
 'work_rate',
 'body_type',
 'real_face',
 'release_clause_eur',
 'player_tags',
 'team_position',
 'team_jersey_number',
 'loaned_from',
 'joined',
 'contract_valid_until',
 'nation_position',
 'nation_jersey_number',
 'pace',
 'shooting',
 'passing',
 'dribbling',
 'defending',
 'physic',
 'gk_diving',
 'gk_handling',
 'gk_kicking',
 'gk_reflexes',
 'gk_speed',
 'gk_positioning',
 'player_traits',
 'attacking_crossing',
 'attacking_finishing',
 'attacking_heading_accuracy',
 'attacking_short_passing',
 'attacking_volleys',
 'skill_dribbling',
 'skill_curve',
 'skill_fk_accuracy',
 'skill_long_passing',
 'skill_ball_control',
 'movement_acceleration',
 'movement_sprint_speed',
 'movement_agility',
 'movement_reactions',
 'movement_balance',
 'power_shot_power',
 'power_jumping',
 'power_stamina',
 'power_strength',
 'power_long_shots',
 'mentality_aggression',
 'mentality_interceptions',
 'mentality_positioning',
 'mentality_vision',
 'mentality_penalties',
 'mentality_composure',
 'defending_marking',
 'defending_standing_tackle',
 'defending_sliding_tackle',
 'goalkeeping_diving',
 'goalkeeping_handling',
 'goalkeeping_kicking',
 'goalkeeping_positioning',
 'goalkeeping_reflexes',
 'ls',
 'st',
 'rs',
 'lw',
 'lf',
 'cf',
 'rf',
 'rw',
 'lam',
 'cam',
 'ram',
 'lm',
 'lcm',
 'cm',
 'rcm',
 'rm',
 'lwb',
 'ldm',
 'cdm',
 'rdm',
 'rwb',
 'lb',
 'lcb',
 'cb',
 'rcb',
 'rb']

In [10]:
nationalities = df['nationality']

In [11]:
nationalities

0        Argentina
1         Portugal
2           Brazil
3         Slovenia
4          Belgium
           ...
18273     China PR
18274     China PR
18275     China PR
18276     China PR
18277     China PR
Name: nationality, Length: 18278, dtype: object

In [12]:
nationalities.value_counts(sort=False))

England        1667
Germany        1216
Spain          1035
France          984
Argentina       886
               ...
Mauritius         1
Barbados          1
Gibraltar         1
Jordan            1
Puerto Rico       1
Name: nationality, Length: 162, dtype: int64

In [13]:
nationalities.value_counts(sort=False)

Croatia         126
Slovakia         54
South Africa     72
Georgia          25
Algeria          50
               ...
Ghana           130
Finland          72
Costa Rica       30
Switzerland     229
Poland          324
Name: nationality, Length: 162, dtype: int64

In [14]:
nationalities.value_counts(sort=True)

England        1667
Germany        1216
Spain          1035
France          984
Argentina       886
               ...
Mauritius         1
Barbados          1
Gibraltar         1
Jordan            1
Puerto Rico       1
Name: nationality, Length: 162, dtype: int64

In [15]:
nationalities.nunique()

162

In [16]:
for nationality in nationalities.value_counts(sort=True):

SyntaxError: unexpected EOF while parsing (<ipython-input-16-a2a0a4fd6c4f>, line 1)

In [17]:
for nationality in nationalities.value_counts(sort=True):
        print(nationality)

1667
1216
1035
984
886
824
732
591
453
416
373
370
358
350
348
347
345
344
340
324
322
319
310
294
287
277
268
229
196
164
139
130
127
126
126
117
105
102
96
94
81
81
80
78
72
72
69
66
66
61
61
55
54
54
53
50
46
43
41
40
35
35
35
35
35
33
30
30
29
25
23
23
22
22
21
20
20
18
16
16
16
16
16
15
15
13
13
12
12
12
11
10
10
10
9
9
8
8
7
7
7
6
6
6
6
6
5
5
5
4
4
4
4
4
4
4
4
4
4
4
4
4
4
3
3
3
3
3
3
3
2
2
2
2
2
2
2
2
2
2
2
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [18]:
for nationality in nationalities.unique():
        print(nationality)

Argentina
Portugal
Brazil
Slovenia
Belgium
Germany
Netherlands
Croatia
Egypt
France
Senegal
England
Spain
Italy
Uruguay
Poland
Denmark
Gabon
Korea Republic
Costa Rica
Slovakia
Bosnia Herzegovina
Serbia
Scotland
Hungary
Switzerland
Greece
Austria
Morocco
Sweden
Wales
Colombia
Czech Republic
Chile
Algeria
Ivory Coast
Togo
Norway
Mexico
Iceland
Finland
Jamaica
Albania
Guinea
Cameroon
Ghana
Montenegro
Ukraine
Russia
DR Congo
Central African Rep.
Venezuela
Nigeria
Armenia
Israel
Ecuador
Paraguay
Australia
Turkey
Romania
Japan
Mali
United States
Kosovo
Dominican Republic
Tanzania
China PR
Northern Ireland
Republic of Ireland
Tunisia
Cape Verde
FYR Macedonia
Burkina Faso
Kenya
Angola
South Africa
Peru
Syria
Gambia
New Zealand
Equatorial Guinea
Zimbabwe
Georgia
Canada
Estonia
Benin
Bulgaria
Mozambique
Honduras
Guinea Bissau
Iran
Philippines
Cyprus
Madagascar
Uzbekistan
Moldova
Cuba
Sierra Leone
Curacao
Zambia
Congo
Bolivia
Comoros
Iraq
Chad
Lithuania
Saudi Arabia
Panama
Libya
Bahrain
St Kitts Nevis
New Caledonia
Luxembourg
Trinidad & Tobago
Thailand
United Arab Emirates
Eritrea
Korea DPR
El Salvador
Azerbaijan
Latvia
Montserrat
Puerto Rico
Bermuda
São Tomé & Príncipe
Antigua & Barbuda
Burundi
Kazakhstan
Liberia
Guyana
Haiti
Jordan
Faroe Islands
Mauritania
Namibia
Rwanda
Uganda
Hong Kong
Chinese Taipei
Belize
Palestine
Mauritius
Guam
Suriname
Lebanon
Guatemala
Sudan
Liechtenstein
Grenada
St Lucia
Afghanistan
Ethiopia
Barbados
India
Malta
Niger
Vietnam
Malawi
Gibraltar
Macau
South Sudan
Indonesia

In [19]:
nationalities.value_counts().to_dict()

{'England': 1667,
 'Germany': 1216,
 'Spain': 1035,
 'France': 984,
 'Argentina': 886,
 'Brazil': 824,
 'Italy': 732,
 'Colombia': 591,
 'Japan': 453,
 'Netherlands': 416,
 'China PR': 373,
 'Chile': 370,
 'Sweden': 358,
 'Norway': 350,
 'Republic of Ireland': 348,
 'United States': 347,
 'Denmark': 345,
 'Portugal': 344,
 'Mexico': 340,
 'Poland': 324,
 'Korea Republic': 322,
 'Austria': 319,
 'Saudi Arabia': 310,
 'Turkey': 294,
 'Romania': 287,
 'Scotland': 277,
 'Belgium': 268,
 'Switzerland': 229,
 'Australia': 196,
 'Uruguay': 164,
 'Serbia': 139,
 'Ghana': 130,
 'Senegal': 127,
 'Nigeria': 126,
 'Croatia': 126,
 'Wales': 117,
 'Ivory Coast': 105,
 'Czech Republic': 102,
 'Greece': 96,
 'Morocco': 94,
 'Northern Ireland': 81,
 'Russia': 81,
 'Paraguay': 80,
 'Cameroon': 78,
 'South Africa': 72,
 'Finland': 72,
 'Ukraine': 69,
 'Venezuela': 66,
 'Bosnia Herzegovina': 66,
 'Slovenia': 61,
 'Canada': 61,
 'Mali': 55,
 'Slovakia': 54,
 'DR Congo': 54,
 'Ecuador': 53,
 'Algeria': 50,
 'Iceland': 46,
 'Albania': 43,
 'Bulgaria': 41,
 'Kosovo': 40,
 'Hungary': 35,
 'Peru': 35,
 'Tunisia': 35,
 'New Zealand': 35,
 'Guinea': 35,
 'Montenegro': 33,
 'Costa Rica': 30,
 'Egypt': 30,
 'Jamaica': 29,
 'Georgia': 25,
 'Bolivia': 23,
 'India': 23,
 'Gambia': 22,
 'United Arab Emirates': 22,
 'Guinea Bissau': 21,
 'Cape Verde': 20,
 'FYR Macedonia': 20,
 'Congo': 18,
 'Angola': 16,
 'Curacao': 16,
 'Gabon': 16,
 'Burkina Faso': 16,
 'Israel': 16,
 'Iran': 15,
 'Benin': 15,
 'Honduras': 13,
 'Togo': 13,
 'Moldova': 12,
 'Panama': 12,
 'Zimbabwe': 12,
 'Cyprus': 11,
 'Zambia': 10,
 'Sierra Leone': 10,
 'Lithuania': 10,
 'Comoros': 9,
 'Luxembourg': 9,
 'Madagascar': 8,
 'Armenia': 8,
 'Haiti': 7,
 'Antigua & Barbuda': 7,
 'Kenya': 7,
 'Equatorial Guinea': 6,
 'Trinidad & Tobago': 6,
 'Latvia': 6,
 'Estonia': 6,
 'Azerbaijan': 6,
 'Mauritania': 5,
 'Faroe Islands': 5,
 'Iraq': 5,
 'Palestine': 4,
 'St Kitts Nevis': 4,
 'Central African Rep.': 4,
 'El Salvador': 4,
 'Cuba': 4,
 'Dominican Republic': 4,
 'Tanzania': 4,
 'Thailand': 4,
 'Syria': 4,
 'Libya': 4,
 'Burundi': 4,
 'Guyana': 4,
 'Korea DPR': 4,
 'Mozambique': 4,
 'Niger': 3,
 'Montserrat': 3,
 'Sudan': 3,
 'Uzbekistan': 3,
 'Uganda': 3,
 'Bermuda': 3,
 'Lebanon': 3,
 'Rwanda': 2,
 'Guatemala': 2,
 'Suriname': 2,
 'Kazakhstan': 2,
 'Namibia': 2,
 'Malta': 2,
 'Afghanistan': 2,
 'Liechtenstein': 2,
 'Grenada': 2,
 'Philippines': 2,
 'New Caledonia': 2,
 'Macau': 1,
 'Eritrea': 1,
 'Liberia': 1,
 'Malawi': 1,
 'Guam': 1,
 'Belize': 1,
 'South Sudan': 1,
 'São Tomé & Príncipe': 1,
 'Vietnam': 1,
 'Bahrain': 1,
 'Hong Kong': 1,
 'Indonesia': 1,
 'Chinese Taipei': 1,
 'St Lucia': 1,
 'Chad': 1,
 'Ethiopia': 1,
 'Mauritius': 1,
 'Barbados': 1,
 'Gibraltar': 1,
 'Jordan': 1,
 'Puerto Rico': 1}

In [20]:
nationalities.value_counts().resample('W')

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [21]:
nationalities.value_counts().to_list().resample('W')

AttributeError: 'list' object has no attribute 'resample'

In [22]:
nationalities.value_counts().to_list()

[1667,
 1216,
 1035,
 984,
 886,
 824,
 732,
 591,
 453,
 416,
 373,
 370,
 358,
 350,
 348,
 347,
 345,
 344,
 340,
 324,
 322,
 319,
 310,
 294,
 287,
 277,
 268,
 229,
 196,
 164,
 139,
 130,
 127,
 126,
 126,
 117,
 105,
 102,
 96,
 94,
 81,
 81,
 80,
 78,
 72,
 72,
 69,
 66,
 66,
 61,
 61,
 55,
 54,
 54,
 53,
 50,
 46,
 43,
 41,
 40,
 35,
 35,
 35,
 35,
 35,
 33,
 30,
 30,
 29,
 25,
 23,
 23,
 22,
 22,
 21,
 20,
 20,
 18,
 16,
 16,
 16,
 16,
 16,
 15,
 15,
 13,
 13,
 12,
 12,
 12,
 11,
 10,
 10,
 10,
 9,
 9,
 8,
 8,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [23]:
nationalities.unique().to_list()

AttributeError: 'numpy.ndarray' object has no attribute 'to_list'

In [24]:
list(nationalities.unique())

['Argentina',
 'Portugal',
 'Brazil',
 'Slovenia',
 'Belgium',
 'Germany',
 'Netherlands',
 'Croatia',
 'Egypt',
 'France',
 'Senegal',
 'England',
 'Spain',
 'Italy',
 'Uruguay',
 'Poland',
 'Denmark',
 'Gabon',
 'Korea Republic',
 'Costa Rica',
 'Slovakia',
 'Bosnia Herzegovina',
 'Serbia',
 'Scotland',
 'Hungary',
 'Switzerland',
 'Greece',
 'Austria',
 'Morocco',
 'Sweden',
 'Wales',
 'Colombia',
 'Czech Republic',
 'Chile',
 'Algeria',
 'Ivory Coast',
 'Togo',
 'Norway',
 'Mexico',
 'Iceland',
 'Finland',
 'Jamaica',
 'Albania',
 'Guinea',
 'Cameroon',
 'Ghana',
 'Montenegro',
 'Ukraine',
 'Russia',
 'DR Congo',
 'Central African Rep.',
 'Venezuela',
 'Nigeria',
 'Armenia',
 'Israel',
 'Ecuador',
 'Paraguay',
 'Australia',
 'Turkey',
 'Romania',
 'Japan',
 'Mali',
 'United States',
 'Kosovo',
 'Dominican Republic',
 'Tanzania',
 'China PR',
 'Northern Ireland',
 'Republic of Ireland',
 'Tunisia',
 'Cape Verde',
 'FYR Macedonia',
 'Burkina Faso',
 'Kenya',
 'Angola',
 'South Africa',
 'Peru',
 'Syria',
 'Gambia',
 'New Zealand',
 'Equatorial Guinea',
 'Zimbabwe',
 'Georgia',
 'Canada',
 'Estonia',
 'Benin',
 'Bulgaria',
 'Mozambique',
 'Honduras',
 'Guinea Bissau',
 'Iran',
 'Philippines',
 'Cyprus',
 'Madagascar',
 'Uzbekistan',
 'Moldova',
 'Cuba',
 'Sierra Leone',
 'Curacao',
 'Zambia',
 'Congo',
 'Bolivia',
 'Comoros',
 'Iraq',
 'Chad',
 'Lithuania',
 'Saudi Arabia',
 'Panama',
 'Libya',
 'Bahrain',
 'St Kitts Nevis',
 'New Caledonia',
 'Luxembourg',
 'Trinidad & Tobago',
 'Thailand',
 'United Arab Emirates',
 'Eritrea',
 'Korea DPR',
 'El Salvador',
 'Azerbaijan',
 'Latvia',
 'Montserrat',
 'Puerto Rico',
 'Bermuda',
 'São Tomé & Príncipe',
 'Antigua & Barbuda',
 'Burundi',
 'Kazakhstan',
 'Liberia',
 'Guyana',
 'Haiti',
 'Jordan',
 'Faroe Islands',
 'Mauritania',
 'Namibia',
 'Rwanda',
 'Uganda',
 'Hong Kong',
 'Chinese Taipei',
 'Belize',
 'Palestine',
 'Mauritius',
 'Guam',
 'Suriname',
 'Lebanon',
 'Guatemala',
 'Sudan',
 'Liechtenstein',
 'Grenada',
 'St Lucia',
 'Afghanistan',
 'Ethiopia',
 'Barbados',
 'India',
 'Malta',
 'Niger',
 'Vietnam',
 'Malawi',
 'Gibraltar',
 'Macau',
 'South Sudan',
 'Indonesia']

In [ ]:
countries = list(nationalities.unique())
numbers